.Sidebar {
  display: inline-block;
  background-color: var(--secondary-bg);
  width: 250px;
  height: calc(100vh - 70px);
}
.Sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: auto;
  padding: 25px 16px;
  gap: 6px;
}

.Sidebar ul li a {
  display: flex;
  height: 56px;
  width: auto;
  border-radius: 12px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: var(--tertiary-text-color);
  font-weight: 700;
  font-size: 16px;
  padding-left: 23px;
  gap: 10px;
}

.Sidebar ul li a.focus {
  background-color: var(--pricipal-color);
  color: white;
}
.Sidebar ul li a.focus svg path {
  fill: white;
}
