#Connexion {
  display: grid;
  grid-template: 100vh / 50% 50%;

  .image {
    display: flex;
    align-items: center;
    justify-content: center; 

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}