#Transactions {
  margin: 23px 20px 38px 25px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 34px;
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 13px 20px;
      gap: 10px;
      background-color: var(--pricipal-color);
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-family: 'Manrope';
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: white;
    }
  }

  .content {
    margin-top: 19px;
    border-radius: 15px;
    background-color: var(--secondary-bg);
    height: calc(100% - 19px - 48px);
    width: auto;
    height: auto;
    padding: 24px 20px;

    .list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .row {
      background-color: var(--pricipal-bg);
      border-radius: 20px;
      padding: 16px 25px;
      list-style: none;
      display: flex;
      align-items: center;
      text-align: start;
      flex-direction: row;
      width: 100%;

      .name {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: var(--principal-text-color);
        width: 175px;
      }
      .date {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--tertiary-text-color);
        width: 100px;
      }
      .amount {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: var(--principal-text-color);
        width: 120px;
      }
      .category {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--principal-text-color);
        width: 100px;
      }
      .desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--tertiary-text-color);
        width: auto;
      }
    }
  }
}
